.badge{margin-left: 3px;margin-right: 3px;cursor: pointer;}
.primary{background-color: #3399FF;}
.warning{background-color: #8a6d3b;}
.danger{background-color: #a94442;}
.input-group{margin-bottom: 8px;}
.btn{margin-bottom: 8px;margin-top: 8px;}