<link href="http://cdn.bootcss.com/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
<script src="http://cdn.bootcss.com/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>
<style type="text/css">
	#lunch{margin: 20px;}
	#dinner{margin: 20px;}
	#black{height: 20px;}
</style>
<h2>日常管理 <small>就餐统计</small></h2>
<ul class="nav nav-tabs">
	<li role="presentation"><a href="{:U('index')}">查看统计</a></li>
	<li role="presentation" class="active"><a href="{:U('set')}">管理设置</a></li>
</ul>
<div id="lunch">
		<h3>午餐</h3>
	<hr />
	<div class="pull-right">
		<!--<if condition='$config[1]["configname"]'>
			<else />
		</if>-->
		<input type="checkbox" name="lunchswitch" data-id="{$config['lunch_on']}" checked>
	</div>
	<h4>是否开启午餐</h4>
	<hr />
	<div id="islunch">
		<div class="pull-right">
			<input type="checkbox" name="lunchautoswitch" checked>
		</div>
		<h4>是否自动开启午餐</h4>
		<hr />
		<div id="islunchauto">
			<div class="pull-right">
				<label>10:00</label><span class="badge primary"><span class="glyphicon glyphicon-edit"></span></span>
			</div>
			<!--<div class="form-inline">
				<div class="form-group">
					<select name="startlunchhour" id="startlunchhour" class="form-control">
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
					</select>
					<label for="startlunchhour">小时</label>
				</div>
				<div class="form-group">
					<select name="startlunchminute" id="startlunchminute" class="form-control">
						<option value="00">00</option>
						<option value="10">10</option>
						<option value="20">20</option>
						<option value="30">30</option>
						<option value="40">40</option>
						<option value="50">50</option>
					</select>
					<label for="startminute">分钟</label>
				</div>
				<div class="form-group">
					<input type="button" id="startlunchbtn"  value="确定" class="btn btn-default" />
				</div>
			</div>-->
			<h4>设置午餐统计开始时间</h4>
			<hr />
			<div class="pull-right">
				<label>12:00</label><span class="badge primary"><span class="glyphicon glyphicon-edit"></span></span>
			</div>
			<!--<div class="form-inline pull-right">
				<div class="form-group">
					<select name="stoplunchhour" id="stoplunchhour" class="form-control">
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
					</select>
					<label for="stoplunchhour">小时</label>
				</div>
				<div class="form-group">
					<select name="stoplunchminute" id="stoplunchminute" class="form-control">
						<option value="00">00</option>
						<option value="10">10</option>
						<option value="20">20</option>
						<option value="30">30</option>
						<option value="40">40</option>
						<option value="50">50</option>
					</select>
					<label for="stoplunchminute">分钟</label>
				</div>
				<div class="form-group">
					<input type="button" id="stoplunchbtn" value="确定" class="btn btn-default" />
				</div>
			</div>-->
			<h4>设置午餐统计结束时间</h4>
			<hr />
		</div>
	</div>
		
</div>
<div id="black"></div>
<div id="dinner">
		<h3>晚餐</h3>
	<hr />
	<div class="pull-right">
		<input type="checkbox" name="dinnerswitch" checked>
	</div>
	<h4>是否开启晚餐</h4>
	<hr />
	<div id="isdinner">
		<div class="pull-right">
			<input type="checkbox" name="dinnerautoswitch" checked>
		</div>
		<h4>是否自动开启晚餐</h4>
		<hr />
		<div id="isdinnerauto">
			<div class="pull-right">
				<label>16:00</label><span class="badge primary"><span class="glyphicon glyphicon-edit"></span></span>
			</div>
			<!--<div class="form-inline">
				<div class="form-group">
					<select name="startdinnerhour" id="startdinnerhour" class="form-control">
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
					</select>
					<label for="startdinnerhour">小时</label>
				</div>
				<div class="form-group">
					<select name="startdinnerminute" id="startdinnerminute" class="form-control">
						<option value="00">00</option>
						<option value="10">10</option>
						<option value="20">20</option>
						<option value="30">30</option>
						<option value="40">40</option>
						<option value="50">50</option>
					</select>
					<label for="startdinnerminute">分钟</label>
				</div>
				<div class="form-group">
					<input type="button" id="startdinnerbtn" value="确定" class="btn btn-default" />
				</div>
			</div>-->
			<h4>设置晚餐统计开始时间</h4>
			<hr />
			<div class="pull-right">
				<label>18:00</label><span class="badge primary"><span class="glyphicon glyphicon-edit"></span></span>
			</div>
			<!--<div class="form-inline">
				<div class="form-group">
					<select name="stopdinnerhour" id="stopdinnerhour" class="form-control">
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
					</select>
					<label for="stophour">小时</label>
				</div>
				<div class="form-group">
					<select name="stopdinnerminute" id="stopdinnerminute" class="form-control">
						<option value="00">00</option>
						<option value="10">10</option>
						<option value="20">20</option>
						<option value="30">30</option>
						<option value="40">40</option>
						<option value="50">50</option>
					</select>
					<label for="stopdinnerminute">分钟</label>
				</div>
				<div class="form-group">
					<input type="button" id="stopdinnerbtn" value="确定" class="btn btn-default" />
				</div>
			</div>-->
			<h4>设置晚餐统计结束时间</h4>
			<hr />
		</div>
	</div>
		
</div>
<script type="text/javascript">
	$("[name='lunchswitch']").bootstrapSwitch();
	$("[name='lunchautoswitch']").bootstrapSwitch();
	$("[name='dinnerswitch']").bootstrapSwitch();
	$("[name='dinnerautoswitch']").bootstrapSwitch();
	
	$('input[name="lunchswitch"]').on('switchChange.bootstrapSwitch', function(event, state) {
		layer.msg(state); // true | false
	});
	//获取config信息
//	var config = "{:$config}";
	$("[name='lunchswitch']").attr('checked',false);
	
</script>